#top {
    margin : 20% ;
}
#top h1 {
    font-size: 40px;
}
#about {
    margin: 10%;
   
}
#skilll ul {
    padding-bottom: 100px ;
    
}
.page {
    margin:5%;
}
#link {
    padding-left: 50%;
}