header {
  display: flex;
  width: 100%;
  text-align: center;
  position: fixed;
  background-color: #ecfdff;
}
header h1 {
  margin: auto;

  margin-left: 12px;
  font-weight: bolder;
  font-size: 24px;
}
header ul {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-right: 6px;
}
header ul li {
  list-style: none;

  margin: 24;
  text-align: right;
}
header ul li a {
  color: rgba(63, 94, 251, 1);
  font-size: 12px;
  text-decoration: none;
}

.top-info {
  width: 100%;
  height: 105%;
  padding-top: 30;
  background: linear-gradient(
    0deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(70, 223, 252, 1) 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top-info button {
  padding: 10px 40px;
  margin-top: auto;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: 20px;
  font-weight: bold;
  color: #ecfdff;
  font-size: 16;
  border: solid;
  background-color: rgb(70, 223, 252, 0);
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-color: #ecfdff;
  transition: color 0, 5s ease;
  -webkit-transition: color 0, 5s ease;
  -moz-transition: color 0, 5s ease;
  -ms-transition: color 0, 5s ease;
  -o-transition: color 0, 5s ease;
}
.top-info button:hover {
  background-color: #ecfdff;
  color: rgba(63, 94, 251, 1);
  filter: drop-shadow(0px 0px 10px #ecfdff);
  -webkit-filter: drop-shadow(0px 0px 10px #ecfdff);
}
.top-info .sub-info {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  color: #ecfdff;
  flex-direction: column;
}
.top-info .sub-info h1 {
  font-size: 60;
}
.top-info .sub-info p {
  width: 90%;
  margin: auto;
  font-style: italic;
  font-size: 12px;
  width: 300px;
}
.top-info img {
  margin: auto;
  margin-bottom: 6;

  width: 250px;
}
.links {
  display: flex;
  margin: auto;
  gap: 40px;
  justify-content: center;
}
.links a {
  margin: auto;
}

.top-info .links .li-icon {
  width: 40px;
  height: auto;
  color: #ecfdff;
  transition: color 0, 3s ease;
  -webkit-transition: color 0, 3s ease;
  -moz-transition: color 0, 3s ease;
  -ms-transition: color 0, 3s ease;
  -o-transition: color 0, 3s ease;
}
.top-info .li-icon:hover {
  width: 40px;
  height: auto;
  color: rgba(63, 94, 251, 1);
  background-color: #ecfdff;
  text-align: center;
  padding: 1;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  filter: drop-shadow(0px 0px 10px #ffffff);
  -webkit-filter: drop-shadow(0px 0px 10px #ffffff);
}
/*animation*/
.skill {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: azure;
  height: auto;
  background: linear-gradient(
    0deg,
    rgba(70, 223, 252, 1) 0%,
    rgba(63, 94, 251, 1) 100%
  );
  margin-top: 24;
  color: #ecfdff;
  padding: 24;
}

.skill .service-1 div {
  max-width: 400px;

  margin: auto;
  margin-top: 24;
  padding: 30;
  display: flex;
  flex-direction: column;
  border: solid;
  font-size: 12;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  transition: color 100ms ease-in;
  -webkit-transition: color 100ms ease-in;
  -moz-transition: color 100ms ease-in;
  -ms-transition: color 100ms ease-in;
  -o-transition: color 100ms ease-in;
}
.skill div h1 {
  font-size: 26px;
}
.skill .service-1 div:hover {
  background-color: #ecfdff;
  color: rgba(63, 94, 251, 1);
  filter: drop-shadow(0px 0px 5px #ffffff);
  -webkit-filter: drop-shadow(0px 0px 5px #ffffff);
}
.skill div .tools {
  flex-direction: row;
  padding: 0;
  border: none;
  margin-left: 0;
  margin-right: 0;
}
.skill .skill-icon {
  width: 40px;
  height: auto;
  margin: auto;
}
.skill .service {
  justify-content: center;
  margin: auto;

  font-size: 36;
}
footer {
  display: flex;
  background-color: antiquewhite;
}
footer div {
  display: flex;
  flex-direction: row;
  margin-left: 25;
  font-size: 12px;

  column-gap: 40px;
  padding: 12;
}
footer .nav-footer {
  flex-direction: column;
}
footer .nav-footer a {
  text-decoration: none;

  padding-left: 0;
}
footer .footer-2 {
  flex-direction: column;
}
footer .footer-3 {
  height: 60px;
}
.galery {
  background: linear-gradient(
    0deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(70, 223, 252, 1) 100%
    
  );
  padding-bottom: 24px;
  padding-top:24px;
  color: #ecfdff;
  margin-top:24px;
  

}
.galery h1 {
  margin: 24px;
  font-size: 40px;
  
}
.galery div {
  display: flex;
  flex-wrap: wrap;
  

  margin: 12px;
 
 
}
.galery img {
  background-color: aqua;
  border: solid;
  border-color: #ecfdff;
  border-radius: 12px;
  margin:6px;
  width: 10px;
  flex: 1 35%;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.footer-3 {
  background-color: rgba(70, 223, 252, 1);
  padding:12px;
  display: flex;
}
.footer-3 p {
margin: auto;
color: #ecfdff;
font-weight: bold;


}
@media (min-width: 768px) {
  .service-1 {
    flex-direction: row;
    display: flex;
    margin: auto;
    gap: 24px;
  }
  .service-1 div {
    height: 300px;
    min-width: 200px;
  }

  .top-info button {
    margin: auto;
  }
}
